
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
      font-size: large;
    }
    #mainNav {
      height: 100px;
      background-color: #001B33;
    }
    #secondarynav{
      background-color: #001B33;

    }
    #title{
      font-family: font2, Verdana, Geneva, Tahoma, sans-serif;
      color: white;
      font-size: 50px;
      margin-top: 8%;
    }
    #navbarNav>ul>li{
      margin: 0% 20%;
      display: inline;
      list-style-type: none;
    }
    /* Add a gray background color and some padding to the footer */
    footer {
      text-align: center;
      
      background-color: #001B33;
      width: 100%;
      padding: 15px;
      position: fixed;
      bottom: 0px;
    }
    footer>a{
      color: white;
    }
    footer>a:hover{
      color: white;
    }
  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height: 450px;
      max-height: 450px;
  }

  .col-sm-3 img {
    height: 150px;
  }
  .consigliati img{
    height: 500px;
  }
  .navbar-toggle {
    position: relative;
    float: left;
    padding: 9px 10px;
    margin-left: 15px;
    margin-top: 8px;
    margin-bottom: 8px;
    background-color: transparent;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  #navbarIconMenu{
   position: absolute;
   right: 3%;
   margin-top: 2%;
  }
  #navbarIconMenu>a{
    margin: 0px 3px;
  }

/* css for AreaUtente*/
  #divArea{
    text-align: center;
    background-color: #D7E5EB;
    border: 30px white solid;
    border-radius: 15%;
  }

  #rowArea{
    min-height: 50%;
    max-height: 50%;
  }

  #RigaTitoloArea a{
    float: right;
    margin: 2%;
    font-size: 10pt;
  }

  #interno{
    margin: 15% 0;
  }
  #divArea h3{
    margin: 2% 0 0 0;
    font-size:200%;
  }
  #divArea img{
    width: 40%;
    height: 40%;
  }
  #titoloArea{
    font-family: fontTitoli, Verdana, Geneva, Tahoma, sans-serif;
    display: inline;
    margin-left: 5%;
    font-size: 40pt;
  }
  #nomeUtente {
    margin-left: 5%;
    font-size: 30pt;
  }
  .eliminaNotifiche{
    float: right;
  }
  /*regole barra di ricera e bottone*/
  #navSearch{
    position: relative;
    float: right;
  }
#searchBar{
  margin: 10px 5px;
}
#searchButton{
  margin-left: 10px;
  margin-right: 10px;

}
/*css for Dettaglio Artista*/
#rowImgDettaglio {
  position: relative;
}
.table tr th{
  text-align: center;
}
#rowImgDettaglio img{
  width: 100%;
  max-height: 400px;
}
.centered-t {
  color: white;
  font-size: 15pt;
  text-align: center;
  background-color: rgba(0,0,0, 0.3);
  position: absolute;
  padding: 5%;
  width: 45%;
  height: 400px;
  top:0;
  left: 55%;
}
.tableImg{
  width: 30px;
  height: 30px;
}
/*css for acquisto dettglio evento*/
#datiDettaglioEvento {
  font-size: 20pt;
  padding: 2% 0;
  line-height: 70%;
}
.Luogo{
  display: inline-block;
  margin-bottom: 5%;
}
#descr{
  float: left;
}
#numeroBiglietti{
  margin: 0 5%;
  font-weight: bold;
  font-size: 15pt;
}
#meno, #aggiungi{
  width: 40px;
  height:40px;
  font-size: 15pt;
}
#selBiglietti{
  float: right;
  padding: 0 8% 5% 8%;
  font-size: 20pt;
}
#selBiglietti div{
  margin-top: 2%;
}

#selBiglietti h4{
  font-size: 20pt;
}

#selBiglietti h5{
  font-size: 15pt;
}

#Totale {
  display: inline;
}
#tot{
  display: inline;
}

.biglietto{
  padding: 3% 0;
}

/*css for Registration*/
.form-horizontal {
  margin-left: 5%;
}

.control-group-2 {
  margin-left: 300px;
  margin-top: -145px;
}

#successo, #insuccesso {
  margin-right: 50%;
}

#registrati, #crea {
  background-color: #337ab7;
  border-radius: 6px;
  padding: 8px 20px;
  border: #337ab7;
  font-size: 16px;
} 

/*i miei dati*/
#dati, #pass {
  margin-left: 15%;
  margin-top: -8%;
  color: #001B33;
  font-size: 15px;
}

#modifica:hover, #registrati:hover, #crea:hover {
  background-color:  #001B33;
  border-color:  #001B33;
  color: white;
}

#circle {
  border: 1px solid #337ab7;
  width:100px;
  height:100px;
  border-radius:50px;
  margin-top: 3%;
}

#icona {
  font-size:60px;
  color:#001B33;
  margin-left: 20%;
  margin-top: 15%;
}

/*creazioneEvento*/
#container-evento {
  margin-left: 30px;
  margin-right: 30px;
}

#crea {
  margin-left: 50%;
}

/*miei eventi*/
#nomeDescrizioneEvento {
  margin-top: -25%;
  margin-left: 33%;
  text-align: center;
}

#notifica {
  padding: 2%;
}
/** modifica titoli in ricerca evento e categoria*/
#titoloEventoInRircerca, #titoloEventoInCategoria{
  font-size: 25pt;
}
#titoloAreaEventoCercato,#titoloAreaCategoria,#titoloGestisciOrganizzatoreStampato,#titoloGestisciEventoStampato{
  font-weight: bold;
  font-size: 30pt;
}
.immaginiBiglietti{
width:100% ;
height: 400px;
}

.testoGestisciEventi{
  font-size: 20pt;
  margin-left: 2%;
}
.testoGestisciEventi span{
  font-weight: bold;
}
.img-categories{
  height: 400px;
}
.dettArt {
  margin-top: 3%;
}
  /* #searchCategories div{
  display: inline;
  } */
  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 768px) {
    .img-categories{
      height: 200px;
    }
    #title{
      font-family: font2, Verdana, Geneva, Tahoma, sans-serif;
      color: white;
      font-size: 15pt;
      /* padding-left: 0; */
      margin-top: 0;
    }

    #divArea{
      border: 10px white solid;
    }

    #divArea h3{
      font-size: 150%;
    }
    #mainNav {
      height: auto;
      background-color: #001B33;
    }
    #titoloArea{
      display: inline;
      margin-left: 18px;
      font-size: 15pt;
    }

    #nomeUtente{
      font-size: 13pt;
    }
    .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      max-height:200px;
      min-height:200px;
  }
  .col-sm-3 img {
    height: 100px;
  }
  .consigliati img{
    height: 200px;
  }
    #TopSeller div{
       display: inline-block;
    }
    #TopSeller :nth-child(3), #TopSeller :nth-child(4){
        display: none;
    }
    #userIcon,#shoppingCart,#inbox{
      float:right;
    }
    #navbarIconMenu>a{
      padding: 10px 15px;
      margin: 0px 0px;
    }

    .centered-t {
      display: none;
      color: white;
      text-align: center;
      font-size: 10pt;
      background-color: rgba(0,0,0, 0.3);
      position: absolute;
      width: 45%;
      padding: 2%;
      height: 250px;
      top:0;
      left: 55%;
    }

    .control-group-2 { /*registration*/
      margin-left: 0;
      margin-top: 0;
    } 

    #successo, #insuccesso {
      margin-right: 10%;
    }

    #crea {
      margin-left: 40%; /*evento*/
    }

    /*miei eventi*/
    #nomeDescrizioneEvento {
      margin-top: -35%;
    } 

    /*i miei dati*/
    #dati, #pass {
     margin-left: 40%;
     margin-top: -30%;
    }

    #circle {
      margin-top: 15%;
    }

    /*barra di ricerca*/
    #navSearch{
      position: static;
      float: none;
    }
    #searchBar{
      display: inline-block;
      width :68%;
      margin: 5px 0px;

    }
    #searchButton{
      display: inline-block;
      width:30%;
      margin: 5px 0px;
    }
    /** modifica titoli in ricerca evento e categoria */
    #titoloEventoInRircerca, #titoloEventoInCategoria{
      font-size: 15pt;
    }
    #titoloAreaEventoCercato,#titoloAreaCategoria{

      font-size: 20pt;
    }

    .immaginiBiglietti{
      width:100% ;
      height: 200px;
    }
    #datiDettaglioEvento {
      font-size: 10pt;
      padding: 2%;
      line-height: 50%;
    }
    .Luogo{
      display: inline-block;
    }
    .Luogo p{
      margin-top: 5%;
    }
    #numeroBiglietti{
      margin: 0 5%;
      font-weight: bold;
      font-size: 15pt;
    }

    #nomeNav{
      display: none;
    }

    .testoGestisciEventi{
      font-size: 12pt;
      margin-left: 2%;
    }

  }

  @font-face {
    font-family: 'fontTitoli';
    src: local('fontTitoli'), url('font/fontTitoli.ttf') format('truetype');   
    font-family: 'font2';
    src: local('font2'), url('font/font2.ttf') format('truetype'); 

 }